

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    
    <title>Login</title>
</head>
<body>{% csrf_token %}
    <form action="" id="fom" method="POST">
        <div class="form">
            <h1>WashMachine</h1><br>
            <div class="img">
                <img src="../vista/img/foto-divertida-perro-maquillado-150x150.jpg">
            </div>
            <div class="text">
                <input type="text" name="email"  required>
                <span class="barra"></span>
                <label for="">Correo</label>
            </div>
            <div class="text">
                <input type="password" name="password" required>
                <span class="barra"></span>
                <label for="">Contraseña</label>
            </div>
            <div class="text">
            <select class="form-select" name="s_user" aria-label="Default select example">
            <option value="usuario">Usuario</option>
            <option value="usuario_ps">Prestador De Servicio</option>
            </select>
            </div>
            

        <button type="submit">Iniciar sesion</button>
           <a href=""><button type="button" >Crear cuenta</button></a> 
               
        </div>
      

    </form>    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}"/>
</body>
</html>